@import "_config.scss";
header {
  position: relative;
  display: block;
  width: 100%;
  background: $white;
  color: $white;
  height: 90px;
  .logo {
    position: absolute;
    top: 50%;
    left: 15px;
    @include translateY(-50%);
  }

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
  }
  nav {
    position: absolute;
    top: 50%;
    right: 15px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px;
      &.last {
        margin: 0;
      }
      a {
        font-size: 19px;
        line-height: normal;
      }
    }
  }
}
body {
  margin: 0;
  .slide {
    background-image: url("../images/002.jpg");
    /* Center and scale the image nicely */
    background-position: center center;
    background-size: cover;
    height: 80vh;
    position: relative;
    top: 0;
    bottom: 0;
    color: $white;
    .title1 {
      position: relative;
      text-align: center;
      padding-top: 5%;
      .homeAction {
        position: relative;
        margin-left: 10%;
        .btn {
          margin-top: 10%;
          margin-right: 5%;
          position: relative;
          background-color: orange;
        }
      }
    }
  }
}
